azureml-mlflow==1.58.0
accelerate==1.4.0
beautifulsoup4==4.13.3
bitsandbytes==0.45.3
datasets==3.3.2
deepspeed==0.15.4
huggingface_hub==0.29.1
latex2sympy2_extended==1.0.6
Markdown==3.7
math_verify==0.5.2
mlflow_skinny==2.15.0
numpy
openai==1.64.0
packaging==24.2
pandas==2.2.3
peft==0.14.0
python-dotenv==1.0.1
safetensors==0.5.2
torch==2.5.1
tqdm==4.66.4
transformers==4.48.2
trl==0.15.1
unsloth==2025.2.15
unsloth_zoo==2025.2.7
wandb==0.19.7
azureml-sdk==1.58.0
